#cookiebarBox {
    position: fixed;
    right: 5px;
    bottom: 75px;
    background-color: #FFBE44;
    border-radius: 10px;
    padding: 15px;
}

#cookieBoxok {
    padding: 10px;
    cursor:pointer;
}


.risk-dismiss {
    width: 350px;
}

.cookiebarBox_cookieImgContainer {
    display: flex;
    justify-content: center;
}

.cookiebarBox_cookieImgContainer .cookiebarBox_cookieImgContainer-img {
    width: 64px;
    height: 64px;
}

@media screen and (max-width: 576px){
    .risk-dismiss {
        width: 250px;
    }
}
